{{template "header" .}}
{{template "menu" .}}

<h1>Contact Page</h1>
<p>
  To get in touch, email me at
  <a href="mailto:jon@calhoun.io">jon@calhoun.io</a>.
</p>

<br/><br/><br/>

<div hx-target="this" hx-swap="outerHTML">
    <div><label>First Name</label>: Joe</div>
    <div><label>Last Name</label>: Blow</div>
    <div><label>Email</label>: joe@blow.com</div>
    <button hx-get="/contact/1/edit" class="btn btn-primary">
    Click To Edit
    </button>
</div>

{{template "footer" .}}